.badge {
    display: inline-block;
    color: #fff;
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    font-size: 0.6rem;
    text-align: center;
    white-space: nowrap;
    background-color: green;
}

.mv-left{
    width: 45%;
    margin: 0 auto;
}
@media screen and (max-width: 767px){
    .mv-left{
        width: auto;
    }
}
@media screen and (max-width: 1023px){
    .mv-right{
margin: 0 auto;
    }
}

